body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

h1 {
  font: 600 2.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}
h3 {
  font: 900 0.65em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 499px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.43em;
  }
}
